@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
  #app {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
}

header {
  text-align: center;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  main table {
    width: 100%;
    max-width: 840px;
  }
}

@media (min-width: 1024px) {
  main table {
    width: 840px;
  }
}

main table button {
  width: 60px;
  padding: 1px;
  margin: 1px 2px;
}

main table td,
main table th {
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-line-through {
  text-decoration: line-through;
}
